<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.system.mapper.EntryMapper">

    <select id="getNewest" resultType="com.example.demo.system.entity.PO.Entry">
        SELECT * FROM _entry where houseID=#{houseID} ORDER BY id DESC LIMIT 1;
    </select>
</mapper>
